* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    padding: 5px;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-flow: column;
}

.body2 {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    flex-flow: row;
}

h1 {
    font-size: 72px;
    font-family: 'Courier New'
}

h3 {
    font-size: 24px;
    font-family: 'Courier New'
}

.column {
    width: 50%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.row {
    height: 11.11%;
    display: flex;
    font-size: 6vh;
}

.coop-row {
    height: 8%;
    display: flex;
    font-size: 6vh;
}

.rowTitle {
    height: 10%;
    width: 100%;
    display: flex;
    flex-flow: row;
    font-family: 'Courier New';
    background: #CCC
}

form {
    height: 100%;
    width: 20%;
}

    form input {
        height: 100%;
        width: 100%;
        font-size: 6vh;
    }

.red {
    background: #CC0000;
    color: white;
}

.redLight {
    background: #CC3333;
    color: white;
}

.blue {
    background: #0000CC;
    color: white;
}

.blueLight {
    background: #3333CC;
    color: white;
}

.white {
    background: white;
    color: black;
}

.green {
    background: #00cc00;
    color: white;
}

.label {
    width: 60%;
}

table {
    font-family:Arial, Helvetica, sans-serif;
    font-size:24px;
    width: 100%;
    height: 90%;
    border:0px;
    text-align:center;
}

th {
    background: #000;
    color: #FFF;
}

tr:nth-child(even) {
    background: #CCC
}

tr:nth-child(odd) {
    background: #FFF
}

.tableBreak {
    background:#000;
    width:10px;
}
